# Creating Secondary Datasets
# 00_create_secondary_datasets

| Date | User | Change Type | Remarks |  
| ---- | ---- | ----------- | ------- |
|  28.09.2025  | Adrienne | Create | Write code to create secondary datasets | 
|    | |   | |

### Content

* [Introduction](#introduction)

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Path to raw excel files
path = "../data/raw"

### Create DRG Code Dataset

In [16]:
drg_df = pd.read_excel(f"{path}/DRG_MDC_Code_List.xlsx", dtype=str)

In [13]:
drg_df.tail()

,DRG,MDC,DRG_description,MDC_description
755,983,Extensive O.R. procedure unrelated to principa...,NaN,NaN
756,987,Non-extensive O.R. procedure unrelated to prin...,NaN,NaN
757,988,Non-extensive O.R. procedure unrelated to prin...,NaN,NaN
758,989,Non-extensive O.R. procedure unrelated to prin...,NaN,NaN
759,998,Principal diagnosis invalid as discharge diagn...,NaN,NaN

### Creating HCPCS Code Dataset

In [17]:
hcpcs_df = pd.read_excel(f"{path}/HCPCS codes updated 2025.xlsx", dtype=str)

In [17]:
hcpcs_df.tail()

       Code                                        Description
8382  V5299                     Hearing service, miscellaneous
8383  V5336  Repair/modification of augmentative communicat...
8384  V5362                                   Speech screening
8385  V5363                                 Language screening
8386  V5364                                Dysphagia screening

HCPCS Code Range Datasets

In [6]:
hcpcs_I_range_df = pd.read_excel(f"{path}/HCPCS Code Ranges.xlsx", sheet_name='HCPCS Level I', dtype=str)

In [10]:
hcpcs_I_range_df.head()

  code_range_start code_range_end                       range_description
0            99201          99499  Evaluation and Management (E/M) Codes
1            00100          01999                        Anesthesia Codes
2            99100          99140                        Anesthesia Codes
3            10021          69990                           Surgery Codes
4            70010          79999                         Radiology Codes

In [7]:
hcpcs_II_range_df = pd.read_excel(f"{path}/HCPCS Code Ranges.xlsx", sheet_name='HCPCS Level II', dtype=str)

In [11]:
hcpcs_II_range_df.head()

,code_range_start,code_range_end,range_description
0,A0021,A0999,Ambulance and Other Transport Services and Sup...
1,A2001,A2029,"Matrix for Wound Management (Placental, Equine..."
2,A4100,NaN,Skin Substitute Device
3,A4206,A8004,Medical And Surgical Supplies
4,A9150,A9999,"Administrative, Miscellaneous and Investigational"

In [13]:
cpt_II_range_df = pd.read_excel(f"{path}/HCPCS Code Ranges.xlsx", sheet_name='CPT Category II', dtype=str)

In [14]:
cpt_II_range_df.head()

  code_range_start code_range_end                          range_description
0            0001F          0015F                         Composite Measures
1            0500F          0584F                         Patient Management
2            1000F          1505F                            Patient History
3            2000F          2060F                       Physical Examination
4            3006F          3776F  Diagnostic/Screening Processes or Results

### Create ICD-10 Dataset

In [18]:
icd10_df = pd.read_excel(f"{path}/section111validicd10-jan2025_0.xlsx", dtype=str)

In [22]:
icd10_df.head()

,CODE,SHORT DESCRIPTION,LONG DESCRIPTION,NF EXCL
0,A000,"Cholera due to Vibrio cholerae 01, biovar chol...","Cholera due to Vibrio cholerae 01, biovar chol...",NaN
1,A001,"Cholera due to Vibrio cholerae 01, biovar eltor","Cholera due to Vibrio cholerae 01, biovar eltor",NaN
2,A009,"Cholera, unspecified","Cholera, unspecified",NaN
3,A0100,"Typhoid fever, unspecified","Typhoid fever, unspecified",NaN
4,A0101,Typhoid meningitis,Typhoid meningitis,NaN

### Save Datasets

In [19]:
drg_df.to_pickle("../data/clean/drg.pkl")
hcpcs_df.to_pickle("../data/clean/hcpcs.pkl")
hcpcs_I_range_df.to_pickle("../data/clean/hcpcs_I_range.pkl")
hcpcs_II_range_df.to_pickle("../data/clean/hcpcs_II_range.pkl")
cpt_II_range_df.to_pickle("../data/clean/cpt_II_range.pkl")
icd10_df.to_pickle("../data/clean/icd10.pkl")