# Creating Secondary Datasets
## 00_create_secondary_datasets

| Date | User | Change Type | Remarks |  
| ---- | ---- | ----------- | ------- |
| 28/09/2025 | Adrienne | Created | Write code to create secondary datasets | 
| 02/10/2025 | Adrienne | Updated | Moved code for code ranges to 00_create_mappers |
| 13/10/2025 | Martin | Updated | Code cleanup |

## Content

* [Introduction](#introduction)
* [Create DRG Dataset](#create-drg-dataset)
* [Create HCPCS Dataset](#create-hcpcs-Dataset)
* [Create ICD-10 Dataset](#create-icd-10-dataset)

## Introduction

The secondary datasets map DRG, HCPCS and ICD-10 codes to the their respective decisions. No additional logic was added, this only serves to unify the formatting

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Path to raw excel files
path = "../data/raw"

## Create DRG Dataset

In [3]:
drg_df = pd.read_excel(f"{path}/DRG_MDC_Code_List.xlsx", dtype=str)

In [4]:
drg_df.tail()

,DRG,MDC,DRG_description,MDC_description
755,983,Extensive O.R. procedure unrelated to principa...,NaN,NaN
756,987,Non-extensive O.R. procedure unrelated to prin...,NaN,NaN
757,988,Non-extensive O.R. procedure unrelated to prin...,NaN,NaN
758,989,Non-extensive O.R. procedure unrelated to prin...,NaN,NaN
759,998,Principal diagnosis invalid as discharge diagn...,NaN,NaN

## Create HCPCS Dataset

In [6]:
hcpcs_df = pd.read_excel(f"{path}/HCPCS codes updated 2025.xlsx", dtype=str)

In [7]:
hcpcs_df.tail()

       Code                                        Description
8382  V5299                     Hearing service, miscellaneous
8383  V5336  Repair/modification of augmentative communicat...
8384  V5362                                   Speech screening
8385  V5363                                 Language screening
8386  V5364                                Dysphagia screening

## Create ICD-10 Dataset

In [7]:
icd10_df = pd.read_excel(f"{path}/section111validicd10-jan2025_0.xlsx", dtype=str)

In [8]:
icd10_df.head()

,CODE,SHORT DESCRIPTION,LONG DESCRIPTION,NF EXCL
0,A000,"Cholera due to Vibrio cholerae 01, biovar chol...","Cholera due to Vibrio cholerae 01, biovar chol...",NaN
1,A001,"Cholera due to Vibrio cholerae 01, biovar eltor","Cholera due to Vibrio cholerae 01, biovar eltor",NaN
2,A009,"Cholera, unspecified","Cholera, unspecified",NaN
3,A0100,"Typhoid fever, unspecified","Typhoid fever, unspecified",NaN
4,A0101,Typhoid meningitis,Typhoid meningitis,NaN

### Save Datasets

In [10]:
mapper_path = "../data/mappers"

drg_df.to_pickle(f"{mapper_path}/drg.pkl")
hcpcs_df.to_pickle(f"{mapper_path}/hcpcs.pkl")
icd10_df.to_pickle(f"{mapper_path}/icd10.pkl")