# EDA of Patient Data
## 02_EDA_Patient

| Date | User | Change Type | Remarks |  
| ---- | ---- | ----------- | ------- |
| 28/09/2025 | Adrienne | Created   | Moved Martin's code to this program | 
| 13/10/2025 | Martin | Updated   | Code cleanup |

## Content

* [Load Data](#load-data)
* [Patient Data Exploration](#patient-data-exploration)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from datetime import datetime
import json_lines
import seaborn as sns

### Load Data

In [ ]:
path = "../data/clean"
claim = pd.read_pickle(f"{path}/claim.pkl")
patient = pd.read_pickle(f"{path}/patient.pkl")
eob = pd.read_pickle(f"{path}/eob.pkl")
# coverage = pd.read_pickle(f"{path}/coverage.pkl")

### Patient Data Exploration

What does a single patient "look" like across all our data?

In [10]:
# Select relevant columns for initial exploration
patient = patient[['address_0_state', 'birthDate', 'deceasedBoolean', 'extension_1_valueCoding_display', 'extension_3_valueDate', 'gender', 'id', 'identifier_1_value', 'deceasedBoolean', 'deceasedDateTime', 'address_0_postalCode']]
patient = patient.rename({
  'extension_1_valueCoding_display': 'race',
  'extension_3_valueDate': 'referenceYear',
  'identifier_1_value': 'patient_medicare_number',
  'address_0_postal_code': 'postalCode'
}, axis=1)

In [15]:
patient.head()

,address_0_state,birthDate,deceasedBoolean,race,referenceYear,gender,id,patient_medicare_number,deceasedBoolean,deceasedDateTime,address_0_postalCode
0,34,1999-06-01,1,White,0003,male,-19990000001684,1S76A00AA00,1,1981-03-17,99999
1,37,1999-06-01,1,White,0003,female,-19990000008033,5SQ9D00AA00,1,1981-03-17,99999
2,21,1999-06-01,1,White,0003,male,-19990000008626,4SX1E00AA00,1,1981-03-17,99999
3,33,2000-06-01,1,White,0003,male,-20000000001114,8S41F00AA00,1,1981-03-17,99999
4,01,2000-06-01,1,White,0003,female,-20000000006275,3S80H00AA00,1,1981-03-17,99999

In [11]:
patient_id = -10000000000322
medicare_number = "1S00E00AA50"

In [16]:
c = claim[claim['patient_medicare_number'] == medicare_number]
e = eob[eob['id'] == str(patient_id)]
p = patient[patient['patient_medicare_number'] == medicare_number]

In [17]:
c.unique_claim_ID.head()

32504         100005174
32434         100007096
32467         100005066
32521    22729615336f16
32473         100005075
Name: unique_claim_ID, dtype: object

In [18]:
# Checking if there are any non-na DRGs with HCPCS codes
c['hcpcs_0'] = c['hcpcs_ls'].str[0]
c[(~c['drg_code'].isna()) & (~c['hcpcs_0'].isna())]

/var/folders/df/6w983x9x0cg5pppshqj46f500000gn/T/ipykernel_3983/1330616593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['hcpcs_0'] = c['hcpcs_ls'].str[0]

Empty DataFrame
Columns: [billablePeriod_end, billablePeriod_start, contained_0_birthDate, contained_0_gender, contained_0_id, contained_0_identifier_0_type_coding_0_code, contained_0_identifier_0_type_coding_0_display, contained_0_identifier_0_value, contained_0_name_0_family, contained_0_name_0_given, contained_0_name_0_text, contained_0_resourceType, contained_1_id, contained_1_identifier_0_type_coding_0_code, contained_1_identifier_0_type_coding_0_display, contained_1_identifier_0_value, contained_1_identifier_1_type_coding_0_code, contained_1_identifier_1_type_coding_0_display, contained_1_identifier_1_value, contained_1_resourceType, created, diagnosis_0_diagnosisCodeableConcept_coding_0_code, diagnosis_0_sequence, diagnosis_1_diagnosisCodeableConcept_coding_0_code, diagnosis_1_sequence, diagnosis_2_diagnosisCodeableConcept_coding_0_code, diagnosis_2_sequence, diagnosis_3_diagnosisCodeableConcept_coding_0_code, diagnosis_3_sequence, diagnosis_4_diagnosisCodeableConcept_coding_0_code, diagnosis_4_sequence, diagnosis_5_diagnosisCodeableConcept_coding_0_code, diagnosis_5_sequence, diagnosis_6_diagnosisCodeableConcept_coding_0_code, diagnosis_6_sequence, diagnosis_6_type_0_coding_0_code, diagnosis_6_type_0_coding_0_display, diagnosis_6_type_1_coding_0_code, diagnosis_6_type_1_coding_0_display, diagnosis_7_diagnosisCodeableConcept_coding_0_code, diagnosis_7_sequence, diagnosis_8_diagnosisCodeableConcept_coding_0_code, diagnosis_8_sequence, diagnosis_9_diagnosisCodeableConcept_coding_0_code, diagnosis_9_sequence, id, identifier_0_type_coding_0_code, identifier_0_type_coding_0_display, identifier_0_value, insurance_0_coverage_identifier_value, insurance_0_focal, insurance_0_sequence, item_0_productOrService_coding_0_code, item_0_revenue_coding_0_code, item_0_sequence, item_0_servicedDate, meta_lastUpdated, patient_reference, priority_coding_0_code, priority_coding_0_display, provider_reference, resourceType, status, supportingInfo_0_category_coding_0_code, supportingInfo_0_category_coding_0_display, supportingInfo_0_code_coding_0_code, supportingInfo_0_sequence, supportingInfo_1_category_coding_0_code, supportingInfo_1_category_coding_0_display, supportingInfo_1_category_coding_1_code, supportingInfo_1_category_coding_1_display, supportingInfo_1_code_coding_0_code, supportingInfo_1_sequence, total_currency, total_value, type_coding_0_code, type_coding_0_display, use, procedure, diagnosis_0_type_0_coding_0_code, diagnosis_0_type_0_coding_0_display, diagnosis_10_diagnosisCodeableConcept_coding_0_code, diagnosis_10_sequence, diagnosis_11_diagnosisCodeableConcept_coding_0_code, diagnosis_11_sequence, diagnosis_11_type_0_coding_0_code, diagnosis_11_type_0_coding_0_display, diagnosis_10_type_0_coding_0_code, diagnosis_10_type_0_coding_0_display, diagnosis_3_type_0_coding_0_code, diagnosis_3_type_0_coding_0_display, diagnosis_1_type_0_coding_0_code, diagnosis_1_type_0_coding_0_display, diagnosis_1_type_1_coding_0_code, diagnosis_1_type_1_coding_0_display, item, facility, insurance, supportingInfo, item_0_servicedPeriod_end, ...]
Index: []

[0 rows x 2459 columns]

In [19]:
#c[c['unique_claim_ID'] == '-100007150']
c[c['unique_claim_ID'] == '100005174']

,billablePeriod_end,billablePeriod_start,contained_0_birthDate,contained_0_gender,contained_0_id,contained_0_identifier_0_type_coding_0_code,contained_0_identifier_0_type_coding_0_display,contained_0_identifier_0_value,contained_0_name_0_family,contained_0_name_0_given,...,drg_code,provider_number,national_provider_identifier,type_of_bill,claim_type,location_of_bill,diagnosis_ls,hcpcs_ls,procedure_ls,hcpcs_0
32504,2005-12-16,2005-12-16,NaN,female,patient,MC,Patient's Medicare Number,1S00E00AA50,Moore2,"[""L.""]",...,NaN,8888853578,NaN,NaN,professional,NaN,"[D649, E669, I10]",[],[],NaN

In [ ]:
# print(f"Patient - Medicare Number: {medicare_number}")
# print(f"Race: {p['race']}")
# print(f"Gender: {p['gender']}")
# print(f"Birth Date: {p['birthDate']}")
# print(f"Deceased: {p['deceasedBoolean'] == 1}")
# print(f"Postal Code: {p['address_0_postalCode']}")